<%= turbo_frame_tag "venues_table" do %>
  <table class="table-ui">
    <thead>
      <tr>
        <th>Venue Name</th>
        <th>Building</th>
        <th>Description</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if venues_table.any? %>
        <% venues_table.each do |venue| %>
          <tr>
            <td><%= highlight(venue.name, params[:query]) %></td>
            <td><%= highlight(venue.building, params[:query]) %></td>
            <td><%= highlight(venue.description, params[:query]) %></td>
            
            <td><%= link_to "Book", new_venue_record_path(venue_id: venue.venue_id), data: { turbo: false } %></td>
            <% if current_user&.admin? %>
              <td><%= link_to "Edit", edit_venue_path(venue), data: { turbo: false } %></td>
              <td><%= link_to "Delete", venue, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
            <% end %>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="6" style="text-align: center; padding: 20px; color: #999;">
            No venues name found matching "<%= params[:query] %>"
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>