<div id="<%= dom_id venue %>">
  <div>
    <strong>Name:</strong>
    <%= venue.name %>
  </div>

  <div>
    <strong>Venue:</strong>
    <%= venue.venue_id %>
  </div>

  <div>
    <strong>Building:</strong>
    <%= venue.building %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= venue.description %>
  </div>

</div>
