<%= turbo_frame_tag "cuhk_equipments" do %>
    <table>
      <thead>
        <tr>
          <th>Equipment Name</th>
          <th>Description</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if cuhk_equipments.any? %>
          <%# Fixed spelling: cuhk_equipments (was eqiupments) %>
          <% cuhk_equipments.each do |cuhk_equipment| %>
            <tr>
              <td><%= highlight(cuhk_equipment.name, params[:query]) %></td>
              <td><%= highlight(cuhk_equipment.description, params[:query]) %></td>
              
              <td><%= link_to "Book", new_equipment_record_path(equipment_id: cuhk_equipment.id), data: { turbo: false } %></td>
              <%# Fixed: changed 'venue' to 'cuhk_equipment' %>
              <td><%= link_to "Edit", edit_cuhk_equipment_path(cuhk_equipment), data: { turbo: false } %></td>
              <td><%= link_to "Delete", cuhk_equipment, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="6" style="text-align: center; padding: 20px; color: #999;">
              No equipment found matching "<%= params[:query] %>"
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>