<%= form_with(model: cuhk_equipment) do |form| %>
  <% if cuhk_equipment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cuhk_equipment.errors.count, "error") %> prohibited this cuhk_equipment from being saved:</h2>

      <ul>
        <% cuhk_equipment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.textarea :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
