<p style="color: green"><%= notice %></p>

<%= render @cuhk_equipment %>

<div>
  <%= link_to "Edit this cuhk equipment", edit_cuhk_equipment_path(@cuhk_equipment) %> |
  <%= link_to "Back to cuhk equipment", cuhk_equipments_path %>

  <%= button_to "Destroy this cuhk equipment", @cuhk_equipment, method: :delete %>
</div>
