<% content_for :title, "New venue record" %>

<<<<<<< HEAD
<h1>Book Venue: <%= @venue_record.venue.present? ? @venue_record.venue.name : "" %> </h1>

=======
<hgroup>
  <h1>Book Venue: <%= @venue_record.venue.present? ? @venue_record.venue.name : "No Venue Found" %></h1>
  <p>Venue Building: <%= @venue_record.venue.present? ? @venue_record.venue.building : "" %><br>
     Venue Description: <%= @venue_record.venue.present? ? (@venue_record.venue.description == "" ? "No Description" : @venue_record.venue.description ) : "" %></p>
</hgroup>
>>>>>>> map-api

<%= render "form", venue_record: @venue_record %>

<br>

<div>
  <%= link_to "Back to Venue List", venues_path %>
</div>
