<p style="color: green"><%= notice %></p>

<%= render @venue_record %>

<div>
  <%= link_to "Edit this venue record", edit_venue_record_path(@venue_record) %> |
  <%= link_to "Back to venue records", venue_records_path %>

  <%= button_to "Destroy this venue record", @venue_record, method: :delete %>
</div>
